.postsHeader{
    padding: 10px 0;
}

textarea {
    resize: none;
}


.submit, .reset{
    display: inline;
    margin: 5px;
    border: solid 1px black;
    padding: 3px 5px;
    border-radius: 10px;
}

input.reset{
    margin: 0 0 0 83px;
    display: inline-block;
}

.posts{

}