.formControl{
  display: inline-block;
}

textarea, input{
  outline: none;
}

.formControl.error textarea, .formControl.error input{
  border: solid 1px red
}
.formControl.error span{
  color: red
}

.formSummatyError {
  /* width: 165px; */
  text-align: center;
  border: solid 1px red;
  color: red;
  display: grid;
}

.formSummatyError div {
  align-self: center;
}