.content{
    height: 100%;
    display: grid;
    grid-template-columns: 1fr 2fr;
}

.dialogsItems{
    display: grid;
    /* align-items: center; */
}

.dialog{
    color: #000;
    /* height: 100%; */
    text-decoration: none;
    align-self: center;
    /* outline: solid 1px; */
}
.dialog.active{
    font-weight: 700;
}

.MessagesItems{
    display: grid;
    align-content: space-between;
    justify-items: center;
}

.MessagesElemenst{
    display: grid;
    justify-items: start;
    
}
.MessageInput{
    text-align: center;
    display: grid;
    grid-template: auto auto / 1fr;
    textarea{
        grid-row: 1;
        padding: 4px 6px;
        resize: none;
        border-radius: 10px;
    }
    .btn{
        grid-row: 2;
        justify-self: center;
        padding: 0;
        line-height: 30px;
        width: 130px;
    }
}
.submit{
    margin: 15px 0 0 0;
}

.Message{
    border-bottom: solid 1px;
}