.pages {
  text-align: center;
  display: grid;
  width: 100%;
  grid-template-rows: 1fr;
  grid-template-columns: repeat(auto-fit, minmax(25px, 1fr));
  align-items: center;
  justify-items: center;
}

.pages span {
  cursor: pointer;
  border-radius: 50%;
}

.pages .selectedPage {
  font-weight: 700;
}

.buttonArrow,
.buttonPagination {
  justify-self: center;
  font-size: 15px;
  border: none;
  cursor: pointer;
  padding: 0;
  border: none;
  /* font: inherit;
  color: inherit; */
  background-color: transparent;
}

.circle {
  border-radius: 50%;
  height: 50px;
  width: 50px;
  display: grid;
  align-items: center;
  cursor: pointer;
}

.circle:hover {
  background-color: #e1e1e1;
}

.wrapper {
  display: grid;
  align-items: center;
  justify-items: center;
  margin: 0 0 20px;
}

.content {
  width: 500px;
  display: grid;
  /* align-items: center; */
  justify-items: center;
  grid-template-columns: 10% 12% 1fr 12% 10%;
  background-color: #fff;
  border-radius: 30px;
  -ms-user-select: none;
  -moz-user-select: none;
  -khtml-user-select: none;
  -webkit-user-select: none;
}

.content>div:first-child {
  justify-self: start;
}

.content>div:last-child {
  justify-self: end;
}